/* Fuentes */
.open-sans-<uniquifier> {
  font-family: "Open Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-blanco);
}

/* Variables */
:root {
    --fuente-primaria: "Maven Pro", Open-sans;
    --fuente-secundaria: "Space Grotesk", Open-sans;

    --color-azul-oscuro: #162139;
    --color-azul-claro: #52C2E8;
    --color-azul-medio: #4282C3;
    --color-Turquesa: #30D5C8;
    --color-Light-blue:#add8e6;
    --color-Cornflower-blue: #6495ed;
    --color-blanco: #FFFFFF;

    --color-Powder-blue: #b0e0e6;
    --color-sky-blue: #87ceeb;


    --scrollbar-deslizador: #6495ed;
    --scrollbar-deslizador2: #87ceeb;
    --scrollbar-pista: #add8e6;
    --scrollbar-pista2: #4282C3;

}

/* Estilo de la barra de desplazamiento */

textarea::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background: var(--scrollbar-pista);
}

textarea::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-deslizador);
    border-radius: 10px;
}

/* Estilo de barra de desplazamiento para Firefox */
textarea {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-deslizador) var(--scrollbar-pista);
}

/* Estilo de barra de desplazamiento para #output */
#output::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 12px;
}

#output::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background: var(--scrollbar-pista2);
}

#output::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-deslizador2);
    border-radius: 10px;
}

/* Estilo de la barra de desplazamiento de output */
#output {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-deslizador2) var(--scrollbar-pista2);
}

/* Fondo */
body {
    max-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(90deg, var(--color-Turquesa), var(--color-azul-claro));
    background-size: 200% 200%;
    animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* Sección superior */

.superior {
    height: 20vh;
}

#barra__superior {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;

}

.barra__superior__Frame 6 {
    margin: 1vw 0 1vw 4vw;
    height: 16vh;
    transition: all 0.3s ease;
}

.barra__superior__Frame 6:hover {
    filter: drop-shadow(0.8vw 0.8vw 0 var(--color-azul-oscuro));

}

.barra__superior__muñeco {
    margin: 1vw 4vw 1vw 0;
    height: 16vh;

}

/* Sección inferior */

.inferior {
    width: 100vw;
    height: 74vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cuadricula */

.grid {
    position: relative;
    background-image: url(./assets/grid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    height: 85%;
    display: flex;

}

/* Area input */

.grid__input {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

}

/* Ventana input */

.grid__input__ventana {
    position: absolute;
    left: 11vw;
    bottom: 32vh;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 44vh;
    border: 1px solid var(--color-blanco);
    border-radius: 10px;
    box-shadow: 10px 10px var(--color-blanco);
}

.grid__input__ventana__top {
    width: 100%;
    height: 30%;
    background: linear-gradient(to right, var(--color-powder-blue), var(--color-oscuro));
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--color-blanco);
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.grid__input__ventana__top__img {
    height: 2.8vw;
    width: auto;
    margin-right: 2%;


}

#input {
    background-color: var(--color-azul-oscuro);
    min-width: 100%;
    min-height: 80%;
    resize: none;
    border-radius: 0 0 10px 10px;
    outline: none;
    font-size: 1.2vw;
    padding: 5%;
}

#input::placeholder {
    font-size: 1.2vw;
    color: #c7c7c7;
}

.grid__input__ventana--explosion {
    position: absolute;
    width: 18vw;
    height: auto;
    bottom: 0;
    left: 0;
    transform: translate(-45%, 45%);

}


/* Alerta */

.grid__input__alerta {
    position: absolute;
    top: 59%;
    left: 42%;
    width: 20vw;
    height: 4vw;
    display: flex;
    align-items: center;
}

.grid__input__alerta__logo-externo {
    position: relative;
    background-color: var(--color-light-blue);
    width: 5vw;
    border: 1px solid var(--color-blanco);
    height: 5vw;
    border-radius: 8px;
    box-shadow: 5px -5px var(--color-sky-blue);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid__input__alerta__logo-interno {
    font-family: var(--fuente-secundaria);
    font-size: 2vw;
    width: 65%;
    height: 65%;
    text-align: center;
    background: linear-gradient(to right, var(--color-Turquesa), var(--color-light-blue));
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid__input__alerta__texto {
    background-color: var(--color-blanco);
    height: 85%;
    border-radius: 0 8px 8px 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid__input__alerta__texto>p {
    padding: 0.5vw 0.5vw 0.5vw 1vw;
    color: var(--color-azul-oscuro);
    font-family: var(--fuente-secundaria);
    font-size: 1vw;
}

/* Botones del input */
.grid__input__area-botones {
    position: absolute;
    top: 80%;
    left: 38%;
    width: 50%;
    height: 12%;
    display: flex;
    justify-content: space-between;

}

.grid__input__area-botones--boton {
    color: var(--color-azul-claro);
    background-color: var(--color-azul-medio);
    font-family: var(--fuente-secundaria);
    font-weight: 500;
    font-size: 1.2vw;
    border-radius: 8px;
    width: 9vw;
    height: 3.2vw;
    border: none;
    transition: background-color 0.3s ease, text-shadow 0.2s ease;
}

.grid__input__area-botones--boton:hover {
    background-color: var(--color-cornflower.blue);
    color: var(--color-blanco);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/* Area output */

.grid__output {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Ventana output */

.grid__output__ventana {
    position: relative;
    top: 5%;
    left: 18%;
    display: flex;
    flex-direction: column;
    width: 32vw;
    height: 40vh;
    border: 1px solid var(--color-blanco);
    border-radius: 10px;

}

.grid__output__ventana__top {
    width: 100%;
    height: 14%;
    background-color: var(--color-light-blue);
    border: 1px solid var(--color-blanco);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.grid__output__ventana__top__img {
    height: 1.5vw;
    width: auto;
    margin-right: 2%;


}

#output {
    padding: 3%;
    width: 100%;
    flex: 1;
    background: linear-gradient(var(--color-powder-blue), var(--color-sky-blue));
    border-radius: 0 0 15px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: var(--fuente-secundaria);
    color: var(--color-blanco);
    font-size: 1.2vw;

}

/* Botones del output */

.grid__output__area-botones {
    position: static;
    top: 8vh;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;


}

.grid__output__area-botones--boton {
    position: relative;
    top: 5vh;
    color: var(--color-blanco);
    font-family: var(--fuente-secundaria);
    font-weight: 500;
    font-size: 1.2vw;
    border-radius: 8px;
    width: 9vw;
    height: 3.2vw;
    border: none;
    background: linear-gradient(to right, var(--color-turquesa), var(--color-azul-medio));
    transition: background 0.5s ease, color 0.3s ease;
    display: block;

}

.grid__output__area-botones--boton:hover {
    background: linear-gradient(270deg, var(--color-turquesa), var(--color-light-blue), var(--color-powder-blue));
    background-size: 400% 400%;
    animation: gradientShiftOutput 4s ease infinite;
    color: var(--color-blanco);
    cursor: pointer;

}

/* Decoración */

.decoracion {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

.decoracion--1 {
    position: absolute;
    left: 2vw;
    top: 17vh;
    width: 2vw;
    height: auto;
}

.decoracion--2 {
    position: absolute;
    left: 90vw;
    top: 9vh;
    width: 3vw;
    height: auto;
}

.decoracion--3 {
    position: absolute;
    left: 50vw;
    top: 6vh;
    width: 3vw;
    height: auto;
}

.decoracion--4 {
    position: absolute;
    left: 35vw;
    top: 32vh;
    width: 2vw;
    height: auto;
}

.decoracion--5 {
    position: absolute;
    left: 53vw;
    top: 25vh;
    width: 2vw;
    height: auto;
}

.decoracion--6 {
    position: absolute;
    left: 60vw;
    top: 50vh;
    width: 2vw;
    height: auto;
}

.decoracion--7 {
    position: absolute;
    left: 45vw;
    top: 50vh;
    width: 2vw;
    height: auto;
}


/* Dispositivos Grandes ( 1200px y más) */
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {

    .barra__superior__Frame 6 {
        height: 12vh;

    }

    .barra__superior__muñeco {
        height: 12vh;
    }

    .grid__input__ventana {
        width: 40vw;
        left: 5vw;
        bottom: 30vh;
  
    }

    .grid__input__bi_exclamation-circle-fill {
        top: 60%;
        left: 30%;
    }

    .grid__input__area-botones {
        left: 27%;

    }


    .grid__output__ventana {
        width: 38vw;
        left: 10%;

    }

    .decoracion--2 {
        left: 91vw;

    }

    .decoracion--3 {
        left: 48vw;

    }

    



